.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0px;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
}

.person {
    width: 48%;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #ffffff; 
}
.person-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}
.placeholder {
    color: #ffffff;
}

.person:nth-child(even) {
    background-color: #ffffff; 
}

.person h2 {
    margin-top: 0;
}

.person-photo {
    flex-shrink: 0;
    width: 325px; 
    margin-right: 20px;
}

.person-photo img {
    max-width: flex;
    height: flex;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.additional-info {
    margin: 7px;
    margin-top: 2px;
    flex-grow: 1;
    max-width: 50%;
}

.contact-details p {
    margin: 2px;
    
}
.message-container {
    width: 100%;
    background-color: #ffd699; 
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.contact-form {
    max-width: 100%;
    margin: auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    font-weight: bold;

  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
  }
  .form-group textarea {
    height: 150px;
  }
  .form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form-group button:hover {
    background-color: #0056b3;
  }

 .navbar-nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
 }
 .navbar-nav .nav-item {
    margin: 0 10px; 
}

 .navbar-nav .nav-link {
    font-size: 30px; 
}

.support-container {
    background-color: #dadada;
}
    
.uitleg-kader {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
    
    
.profiel-foto img {
    flex-shrink: 0;
    max-width: 400px; /* Zorg ervoor dat de afbeeldingen niet breder zijn dan de container */
    height: 200px; /* Behoud de aspect ratio van de afbeeldingen */
    object-fit: cover;
    border: 1px solid #040404; /* Voeg eventueel een rand toe om de afbeeldingen te omlijsten */
}

.foto {
    text-align: center;
    margin-top: 50px;
    }

.person-photo-2 {
   flex-shrink: 0;
    width: 550px; 
    margin-right: 20px;
    position: relative; /* Zorgt ervoor dat z-index werkt */
    z-index: 1; /* Maakt de inhoud van .person-photo-2 bovenop de achtergrond */

}
.form-container-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
    min-width: 100%; /* Optioneel: stel een minimale breedte in */
    min-height: 100%; /* Optioneel: stel een minimale hoogte in */

    
}
.background-foto {
    background-image: url('./assets/sfeerbeeld.jpg');
    background-size: cover; /* Zorgt ervoor dat de achtergrondafbeelding de hele sectie bedekt */
    background-position: center; /* Plaatst de achtergrondafbeelding in het midden van de sectie */
    /* Voeg eventueel andere achtergrondstijlen toe zoals background-repeat, background-attachment, etc. */

}
.person-info-2 {
    display: flex;
    flex-direction: row; /* Plaats de items naast elkaar in een rij */
    align-items: flex-start; /* Aligneer items aan de bovenkant van de sectie */
}
.additional-info-2 {
    margin-top: 2px;
    flex-grow: 1;
    min-width: 600px;
}
.indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #2c7bd5;
}

input[type="checkbox"]:checked + .indicator {
    background-color: #277ed5;
}

.bg-image {
    background-image: url(https://36379.fs1.hubspotusercontent-na1.net/hubfs/36379/Social%20media%20apps%20-%20Vet%20Digital.jpg); /* URL van de achtergrondfoto */
    background-size: cover;
    background-position: center;
    height: 300px; /* Hoogte van de achtergrondfoto aanpassen aan de gewenste grootte */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255); /* Tekstkleur aanpassen voor contrast */
  }
  
  .container {
    padding: 50px 0; /* Voeg wat ruimte toe boven en onder de inhoud */
  }