.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0px;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
}

.person {
    width: 48%;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #ffffff; /* Blauwe achtergrond voor persoon 1 */
}
.person-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}
.placeholder {
    color: #ffffff;
}

.person:nth-child(even) {
    background-color: #ffffff; /* Groene achtergrond voor persoon 2 */
}

.person h2 {
    margin-top: 0;
}

.person-photo {
    flex-shrink: 0;
    width: 325px; /* Breedte van de foto */
    margin-right: 20px;
}

.person-photo img {
    max-width: flex;
    height: flex;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.additional-info {
    margin-top: 2px;
}

.contact-details p {
    margin: 2px;
    
}
.message-container {
    width: 100%;
    background-color: #ffd699; /* Kleur van de berichtcontainer */
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    font-weight: bold;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .form-group textarea {
    height: 150px;
  }
  .form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form-group button:hover {
    background-color: #0056b3;
  }

 .navbar-nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
 }
 .navbar-nav .nav-item {
    margin: 0 10px; /* Ruimte tussen de items aanpassen indien nodig */
}

 .navbar-nav .nav-link {
    font-size: 30px; /* Pas deze waarde aan naar jouw voorkeur */
}

